body {
    margin: 0;
    font-family: "UpheavalPro";
}

@font-face {
    font-family: "UpheavalPro";
    src: url("./fonts/UpheavalPro.otf");
    src: url("./fonts/UpheavalPro.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}
